*{
    margin: 0px;
    padding: 0px;
}

 .navBar{
    width: 100%;
    height: 70px;
    background-color: darkblue;
    color: white;
}



.searchbar{
    width: 250px;
    height: 30px;
    border-radius: 5px;
    padding: 5px;
    color: black;
    font-size: 18px;
    margin-top: 10px;
    border: none;
}

.searchbar:hover{
    border: 2px solid red;
    
}
.search{
    display: flex;
    justify-content: flex-end;
    text-align: center;
    align-items: center;

}


.btn{
    background-color: red;
    width: 80px;
    padding: 7px;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    margin-top: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 5px;
    border: none;
    margin-right: 5px;
}
.btn:active{
    background-color: lightcyan;
    color: black;
    transform: scale(0.6);
}
.back_img{
    background-image: url(production\ image.avif);
    width: 100%;
    height: 80vh;
}
.h1{
   font-size: 38px;
    margin-top: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h3{
    margin-top: 2px;
    margin-left: 5px;
    font-size: 30px;

}
p{
    font-size: 22px;
}
.sec2{
   border-radius: 3px;
    background-color: rgb(226, 214, 214);
}
.line{
    border: 2px solid gray;
}
.sec3{
    width: 95%;
    height: 60vh;
    background-color: transparent;
    margin:  20px;
    

}
.images{
    display: flex;
    justify-content: space-evenly;
}
.images img{
 margin: 20px;
} 
.text{
    font-size: 32px;
    max-width: 300px;
    margin-top: 100px;
    margin-left: 60px;
    font-weight: 600;
}
.videos{
    display: flex;
    justify-content: space-evenly;
}
.videos video ,p{
    margin: 20px;
}

.contact{
    height: 50px;
    width: 100%;
    background-color: rgb(11, 11, 59);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contactUs{
     font-size: 30px;
}

.container{
    height: 115vh;
    width: 500px;
    background-color: rgba(245, 241, 241, 0.777);
    margin: auto;
    margin-top: 20px;
    
    }
    .heading{
    
    background-color: rgb(54, 68, 194);
    color: white;
    padding: 15px;
    }
    .data{
    text-indent: 2px;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border-color: lightgray;
    }
    .label{
    margin: 10px;
    }
    .textarea{
    margin: 10px;
    border-radius: 5px;
    border-color: lightgray;
    }
    #btn{
    margin: 0px 10px;
    border: none;
    background-color: rgb(54, 68, 194);
    border-radius: 4px;
    padding: 12px;
    
    font-weight: 700;
    color: white;
    width: 60px;
    }
    #btn:hover{
    background-color: whitesmoke;
    color: black;
    }
    #btn:active{
    background-color: rgb(140, 125, 125);
    color: white;
    }
    #btn:active{
    transform: scale(0.8);
    
    }